altgraph==0.17.5
build==1.3.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
docutils==0.22.3
-e git+https://github.com/math1p/EasyMCServer.git@22d96dec391dfdf678f273a554aa54f0185c367d#egg=easymcserver
id==1.5.0
idna==3.11
inquirerpy==0.3.4
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
keyring==25.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
nh3==0.3.2
packaging==25.0
pefile==2024.8.26
pfzy==0.3.4
prompt_toolkit==3.0.52
psutil==7.1.3
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyproject_hooks==1.2.0
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.2.0
setuptools==80.9.0
twine==6.2.0
urllib3==2.6.2
wcwidth==0.2.14
